.output,.outputheader{
	width:20%;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.output {
	color:red;
}

.code {
	text-overflow:ellipsis;
	overflow:hidden;
  white-space:nowrap;
}

.count{
	width:5%;
	text-overflow:ellipsis;
	overflow:hidden;
  white-space:nowrap;
}

.fitness{
	width:15%;
	text-overflow:ellipsis;
	overflow:hidden;
  white-space:nowrap;
}

.even_row {background-color:#cccccc;border-width:0;height:50px}
.odd_row {background-color:#eeeeee;border-width:0;height:50px}

.generation{
	width:100%;
	border-style:hidden;
	border-collapse:collapse;
	font-family:"Lucida Console";
	table-layout:fixed;
}

.clickable{color:blue;text-decoration:underline}
